.tableRow {
  cursor: pointer;
}

:global(.mantine-datatable-table[data-highlight-on-hover] tbody tr:hover) {
  background: var(--mantine-color-gray-1) !important;
}

:global([data-mantine-color-scheme=dark] .mantine-datatable-table[data-highlight-on-hover] tbody tr:hover) {
  background: var(--mantine-color-dark-6) !important;
}
